# Default ignored files
.idea
.DS_Store
*.py[cod]
*.pyc
/shelf/
/workspace.xml
venv/
__pycache__
/__pycache__/
__pycache__/
__pycache__
nicu2home-plus-django/NICU2HOME/NICU2HOME/settings.py
*.sqlite3
